@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0;
    @apply m-0;
    @apply box-border;
  }

  a {
    @apply no-underline;
    @apply text-inherit;
  }

  body {
    @apply font-lato;
  }


}